name: viasolucoes
description: "Via Soluções is a modern Flutter app designed for seamless management of road contracts and projects, blending elegant design with intuitive functionality for a professional and fluid user experience."
publish_to: "none"
version: 1.0.0

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.8
  google_fonts: ^6.1.0
  shared_preferences: ^2.0.0
  intl: 0.20.2
  flutter_animate: ^4.0.0
  path_provider: ^2.0.15
  file_picker: '>=8.1.2'
  open_filex: ^4.3.4
  uuid: ^4.4.0
  supabase_flutter: ^2.10.3


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.14.4

flutter:
  uses-material-design: true
  generate: true

flutter_launcher_icons:
  android: true
  ios: true
  image_path: assets/icons/dreamflow_icon.jpg
  remove_alpha_ios: true
